name: nightly

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:

  build:
    name: Build
    strategy:
      matrix:
        version: ['8.x', '9.x', '10.x']
    runs-on: ubuntu-latest
    steps:

    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.version }}

    - name: Check out code
      uses: actions/checkout@v4

    - name: Install fantomas
      run: |
        dotnet tool install fantomas

    - name: Build
      run: |
        ss --tcp -all
        make build-all
        make integration-tests

    - name: Package artifacts
      run: |
        make release
        echo "PWD: $(pwd)"
        ls -la .
        ls -la ./uhppoted
        ls -la ./uhppoted/uhppoted
        ls -la ./uhppoted/uhppoted/dist

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: uhppoted/uhppoted/dist
        name: uhppoted.0.9.0-net${{ matrix.version }}-nightly
